[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
black = "==20.8b1"
pillow = "*"
autopep8 = "*"
django-countries = "*"

[dev-packages]
black = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
